# virtualenvs
.venv
env

# build files and directoris
build
create
dist
*.egg-info

# Files autocreated by Python
__pycache__
*.pyc
*.pyo
*.pyd

# Files autocreated by Pytest
.pytest_cache/

# Notebook stuff
.ipynb_checkpoints

# VSCode workspace settings
.vscode/